.add-button{
  background-color: blue;
  height: 50px;
  border-radius: 20px;
  text-align: center;
  font-weight: bolder;
  font-size: 18px;
  line-height: 28px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 10px;
  margin-right: 20px;
}

.navbar-padding{
  padding-left: 100px;
  padding-right: 100px;
  height: 80px;
}

.navbar-brand{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.remove{
  text-align: center;
}

.remove a{
  font-weight: bolder;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.5s;
}

.remove a:hover{
  color: red;
}

.box{
  margin-top: 30px;
  padding: 30px;
  border: dashed grey 1px;
  border-radius: 20px;
}

.card-box{
  margin: 20px 15px 10px 15px;
  border-radius: 20px;
  padding: 15px;
}

.footer{
  bottom: 0;
  margin-top: 50px;
  height: 50px;
  width: 100%;
}

.left-pane{
  margin-top: 20px;
  padding-top: 10px;
  font-weight: bolder;
  font-size: 18px;
  height: 100%;
}

.right-pane{
  margin-left: 20px;
  margin-bottom: 20px;
}

.box-link{
  border: 1px solid white;
  padding: 5px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.box-link a{
  text-decoration: none;
}

.btn{
  margin-top: 10px;
}

.answer-box{
  margin-top: 20px;
}
